{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "dynamic-import-node",
    "@babel/plugin-transform-runtime", 
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "pure": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "babel-plugin-transform-typescript-metadata",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy":  true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
